@model IEnumerable<UniversityCourseAndResultManagementSystem.Models.Teacher>

@{
    ViewBag.Title = "ViewTeacher";
}

<h2>View Teachers information</h2>

<p>
    @Html.ActionLink("Create New", "SaveTeacher")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departmrnt.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherContactInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherCredit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departmrnt.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherContactInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherCredit)
        </td>
        
    </tr>
}

</table>
