@model UniversityCourseAndResultManagementSystem.Models.Course

@{
    ViewBag.Title = "SaveCourse";
    string message=ViewBag.Message;
}
<style>
    label.error {
        color: #B94A48;
        font-style: normal;
        font-family: Helvetica;
        font-size: 12px;
    }
</style>
<h2>Save Course</h2>

@using (Html.BeginForm("SaveCourse", "Courses", FormMethod.Post, new { Id = "saveCourseForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "CourseCode", @id = "CourseCode", @name = "CourseCode" } })
                @Html.ValidationMessageFor(model => model.CourseCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", @placeholder = "CourseName", @id = "CourseName", @name = "CourseName" } })
                @Html.ValidationMessageFor(model => model.CourseName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCredit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseCredit, new { htmlAttributes = new { @class = "form-control", @placeholder = "CourseCredit", @id = "CourseCredit", @name = "CourseCredit" } })
                @Html.ValidationMessageFor(model => model.CourseCredit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "CourseDescription", @id = "CourseDescription", @name = "CourseDescription" } })
                @Html.ValidationMessageFor(model => model.CourseDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-2", })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", new SelectList(ViewBag.Departments, "Id", "DeptName"), "--Select a Department--",String.Empty)
                @*@Html.ValidationMessageFor(model => model.DepartmentId)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SemisterId, "Semester", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SemisterId", new SelectList(ViewBag.SemisterId, "Id", "SemisterName"), "--Select a Semester--", String.Empty)
                @*@Html.ValidationMessageFor(model => model.SemisterId)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
            <div style="color: green">
                <p>@message</p>
            </div>
        </div>
    </div>
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
                $(document).ready(function () {
                    $('#CourseCode').val("");
                    $('#CourseName').val("");
                    $('#CourseCredit').val("");
                    $('#CourseDescription').val("");
                    $('#DepartmentId').val("");
                    $('#SemisterId').val("");
                    $("#saveCourseForm").validate({
                        rules: {
                            SemisterId: "required",
                            DepartmentId:"required",
                        },
                        messages: {
                            SemisterId: "Please select a Semester",
                            DepartmentId: "Please select a Department",
                        }
                    });

            });
    </script>
}