@model IEnumerable<UniversityCourseAndResultManagementSystem.Models.RoomAllocation>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Allocate New", "AllocateRoom")
</p>
<h4>View class schedule </h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departmrnt.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departmrnt.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
    </tr>
}

</table>
